<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card shadow">
        <div class="card-header bg-dark text-white"><h4 class="mb-0">Login</h4></div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="mb-3">
              <label class="form-label">Email</label>
              <%= f.email_field :email, class: "form-control", required: true %>
            </div>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <%= f.password_field :password, class: "form-control", required: true %>
            </div>
            <div class="mb-3 form-check">
              <%= f.check_box :remember_me, class: "form-check-input" %>
              <label class="form-check-label">Remember me</label>
            </div>
            <%= f.submit "Login", class: "btn btn-warning w-100 btn-lg" %>
          <% end %>
          <div class="text-center mt-3">
            <%= link_to "Don't have an account? Sign Up", new_user_registration_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
